*::before, *::after {
    box-sizing: border-box;
}
*{
    padding: 0;
    margin:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Bitstream Vera Sans',sans-serif;
    cursor:default;
    color:black;
}
 
body {
    display: flex;
    flex-direction: column;
    gap:10px;
    box-sizing: border-box;
    max-width: 750px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    width:100%;
    gap:5px;
}
nav > .button {
    width:100%;
}

main {
    display:flex;
    flex-direction: column;

    gap:1rem;
}

section {
    display:flex;
    flex-direction: column;
}

.ellipsis {
    max-width: 85vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td,th {
    padding: 7px;
}

.button {
    display:inline-block;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    padding: 1rem;
    text-decoration: none;
    color:gray;
    background-color: white;
    font-size:1rem;
    cursor:pointer;
    text-align:center;
    min-width: 65px;
}

.button:hover, .button.active {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color:white;
}

input[type="file"] {
  display: none;
}
.custom-file {
  display: block;
  text-align: center;
  line-height: 5rem;
}

#entries {
    display:none;
    font-size:1rem;
}

#message-1 {
    display: none;
    margin: 0 auto;
    padding: 1rem;
    border: 3px solid darkcyan;
}

tr td:first-child {
    padding: 0;
    text-align: center;
}
.cancel-button {
    padding:0.3rem 0.6rem;   
    cursor: pointer;
    
}
.cancel-button:hover {
    color: salmon;
    border-color:salmon;
    border-style: solid;
}
.cancel-button:active {
    background-color: salmon;
}

main {
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.progress-text {
    width:4rem;
}


.danger .cancel-button,
.canceled .cancel-button,
.success  .cancel-button {
    display:none;
}

.canceled td:first-child::after {
    content:'✕';
    color: gray;
}
.canceled .filename {
    text-decoration: line-through;
}
.canceled .progress-text {
}


.danger td {
    color: red;
}
.danger td:first-child::after {
    content:'✕';
}
.danger .filename {
    text-decoration: line-through;
}
.danger .progress-text{
    display:none;
}

.success td:first-child:after {
    content:'✔';
    color: green;
}

.u-list li {
    margin: .3rem;
}
.u-list li,
.u-list li a {
    cursor:pointer;
}
.u-list li a{
    color:#808080;
}
.u-list li a:hover {
    text-decoration: underline;
    color:dodgerblue;
    background-color: antiquewhite;
    
}

@media (width > 750px){
    
    nav > .button {
        width:auto;
    }
}
@media (width > 360px) {
    .ellipsis{
        max-width: 50vw;
    }
}