*{
    box-sizing: border-box;
    font-family: 'Bitstream Vera Sans',sans-serif;
}
body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

nav {
    display: flex;
    justify-content: center;
    width:100%;
    gap:5px;
}
nav > .button {
    width:100%;
}

main {
    display:flex;
    flex-direction: column;
    width:100%;
}

section {
    display:flex;
    flex-direction: column;
}

.ellipsis {
    max-width: 85vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td,th {
    padding: 7px;
}

.button {
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    padding: 1.6rem;
    line-height: 0;
    text-decoration: none;
    color:gray;
    cursor:pointer;
    text-align:center;
}

.button:hover, .button.active {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color:white;
    font-weight: bolder;
}

input[type="file"] {
  display: none;
}
.custom-file {
  display: block;
  text-align: center;
  line-height: 5rem;
}

#entries {
    display:none;
}
table td:first-child {
    width:20px;
}
#message-1 {
    display: none;
    margin: 0 auto;
    padding: 1rem;
    border: 3px solid darkcyan;
}

.spinning {
    display:block;
    width:16px;
    height:16px;
    background-image: url('/assets/spinner.svg');
    background-size: 16px 16px;
    color:black;
}
.spinning:hover {
    background: none;
}
.spinning:hover::before {
    background: none;
    content:'✕';
    color: red;
    cursor:pointer;
}

.canceled-text {
    text-decoration: line-through;
    color:gray;
}

.canceled::after {
    content:'✕';
    color: gray;
}


.success::after {
    content:'✔';
    color: green;
}

@media (width > 900px){
    nav > .button {
        width:auto;
    }
    main {
        max-width: 900px;
    }
}
@media (width > 360px) {
    .ellipsis{
        max-width: 50vw;
    }
}